@using KWFOpenApi.Metadata.Models
@using System.Text.Json
@if (Metadata == null)
{
<html lang="en">
    <head>
        <title>KwfApiDocumentation</title>
    </head>
    <body>
        <h1>Documentation not found</h1>
    </body>
</html>
}
else
{
<html lang="en">
    <head>
        <title>API: @Metadata.ApiName</title>
        <link rel="stylesheet" href="kwfopenapi.css">
        <script type="text/javascript" src="kwfopenapi.js"></script>
    </head>
    <body onload="FetchAndCacheModelsAndEnums()">
        <div class="page-container">
            <div class="head-container">
                <div>
                    <h1>API: @Metadata.ApiName</h1>
                </div>
                <div>
                    <h1>Description: @Metadata.ApiDescription</h1>
                </div>
                <div>
                    <h1>Version: @Metadata.ApiVersion</h1>
                </div>
            </div>
            <div class="path-container">
                <div class="api-paths">
                    @{
                        if (Metadata.Entrypoints != null)
                        {
                            foreach (var endpointGroup in Metadata.Entrypoints)
                            {
                                <div class="api-path-endpoint-container">
                                    <div class="api-path-endpoint-group" kwf-toggled="false" onclick="ExpandEndpointGroup(this, 'api-path-endpoint-group-@endpointGroup.Key')">@endpointGroup.Key</div>
                                    <div class="api-path-endpoint-group-endpoints" id="api-path-endpoint-group-@endpointGroup.Key" style="display:none; visibility:hidden">
                                        @{
                                            foreach (var endpoint in endpointGroup.Value)
                                            {
                                                var endpointId = @GetEndpointId(endpoint.Operation, endpoint.Method, endpoint.Route);
                                                <div class="api-path-endpoint-group-endpoints-container">
                                                    <div class="api-path-method" title="@endpoint.Route">
                                                        @endpoint.Method
                                                    </div>
                                                    <div class="api-path-endpoint" onclick="SelectEndpoint('@endpointId')">
                                                    @endpoint.Route
                                                    </div>
                                                    <input type="hidden" name="endpoint_route_@endpointId" value="@endpoint.Route" />
                                                    <input type="hidden" name="endpoint_method_@endpointId" value="@endpoint.Method" />
                                                    @if (endpoint.HeaderParams != null)
                                                    {
                                                        foreach (var headerParam in endpoint.HeaderParams)
                                                        {
                                                            <input type="hidden"
                                                                   kwf-isRequired="@BoolToString(headerParam.Required)"
                                                                   kwf-isArray="@BoolToString(headerParam.IsArray)"
                                                                   kwf-isEnum="@BoolToString(headerParam.IsEnum)"
                                                                   kwf-reference="@headerParam.EnumReference"
                                                                   kwf-enumValues="@CommaSplitedEnumValues(headerParam.EnumValues)"
                                                                   name="@($"endpoint_header_params_{endpointId}[]")" 
                                                                   value="@headerParam.Name" />
                                                        }
                                                    }
                                                    @if (endpoint.RouteParams != null)
                                                    {
                                                        foreach (var routeParam in endpoint.RouteParams)
                                                        {
                                                            <input type="hidden"
                                                                   kwf-isRequired="@BoolToString(routeParam.Required)"
                                                                   kwf-isArray="@BoolToString(routeParam.IsArray)"
                                                                   kwf-isEnum="@BoolToString(routeParam.IsEnum)"
                                                                   kwf-reference="@routeParam.EnumReference"
                                                                   kwf-enumValues="@CommaSplitedEnumValues(routeParam.EnumValues)"
                                                                   name="@($"endpoint_route_params_{endpointId}[]")"
                                                                   value="@routeParam.Name" />
                                                        }
                                                    }
                                                    @if (endpoint.QueryParams != null)
                                                    {
                                                        foreach (var queryParam in endpoint.QueryParams)
                                                        {
                                                            <input type="hidden"
                                                                   kwf-isRequired="@BoolToString(queryParam.Required)"
                                                                   kwf-isArray="@BoolToString(queryParam.IsArray)"
                                                                   kwf-isEnum="@BoolToString(queryParam.IsEnum)"
                                                                   kwf-reference="@queryParam.EnumReference"
                                                                   kwf-enumValues="@CommaSplitedEnumValues(queryParam.EnumValues)"
                                                                   name="@($"endpoint_query_params_{endpointId}[]")"
                                                                   value="@queryParam.Name" />
                                                        }
                                                    }
                                                    @if (@endpoint.RequestBodies != null && endpoint.RequestBodies.Count > 0)
                                                    {
                                                        foreach (var reqSample in endpoint.RequestBodies)
                                                        {
                                                            <input type="hidden" 
                                                                   kwf-media-type="@reqSample.Key"
                                                                   kwf-media-type-name="@reqSample.Value.MediaTypeString"
                                                                   kwf-obj_ref="@reqSample.Value.BodyObjectName"
                                                                   name="@($"request_sample_{endpointId}[]")" 
                                                                   value="@reqSample.Value.Body" />
                                                        }
                                                    }
                                                    <!-- TODO: Response samples -->
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="api-selected-endpoint">
                    <div class="api-selected-endpoint-data-container">
                        <div class="api-selected-endpoint-data" id="api-selected-endpoint-data">
                            &nbsp;
                        </div>
                        <div> <!-- TODO -->
                            <input type="button" onclick="SendRequest(this)" name="kwf-send" value="Send"/>
                        </div>
                    </div>
                    <div class="api-selected-endpoint-request-response">
                        <div class="endpoint-request">
                            <div id="req-params-container" class="req-params-container hidden-container">
                                Request parameters:
                                <div id="req-params-container-inputs" class="req-params-container-inputs">
                                </div>
                            </div>
                            <div class="req-obj-ref-container">Request Body: <div id="req-obj-ref-item" class="req-obj-ref-item"></div></div>
                            <div class="request_selected_media_container">
                                <div class="request_selected_media">
                                    <label for="request_selected_media">Media type:</label>
                                    <select id="request_selected_media" name="request_selected_media" disabled onchange="ChangeReqMediaType(this)"></select>
                                </div>
                                <div class="request_selected_media_reload_sample"><button name="reload_request_sample" disabled onclick="ReloadRequestSample()">Reload Sample</button></div>
                            </div>
                            <div class="request-box-container">
                                <textarea class="request_box textbox-readonly" id="request_box" name="request_box" readonly></textarea>
                            </div>
                        </div>
                        <div class="endpoint-response">
                            <div id="response-media-type">
                                MediaType:
                            </div>
                            <div id="response-status">
                                Status Code:
                            </div>
                            <div class="response-body-container">
                                Response:<br />
                            <!-- TODO - format textarea -->
                                <textarea id="response-result-body" readonly class="response-result-body-text"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="model-container">

            </div>
        </div>

        <input type="hidden" name="kwf-metadata-models" value="@JsonSerializer.Serialize(Metadata.Models, SerializerOptions)" />
        <input type="hidden" name="kwf-metadata-enums" value="@JsonSerializer.Serialize(Metadata.Enums, SerializerOptions)" />
    </body>
</html>
}

@code {
    [Parameter]
    public KwfOpenApiMetadata? Metadata { get; set; }

    [Parameter]
    public JsonSerializerOptions? SerializerOptions { get; set; }

    private static string GetEndpointId(string operationId, string method, string route)
    {
        if (!string.IsNullOrEmpty(operationId))
        {
            return operationId;
        }

        return $"endpoint_{method}_{route.Replace('/', '-').Replace('{', '_').Replace('}', '_')}";
    }

    private static string BoolToString(bool value)
    {
        return value ? "true" : "false";
    }

    private static string CommaSplitedEnumValues(List<string>? values)
    {
        if (values == null || values.Count == 0)
        {
            return string.Empty;
        }

        return string.Join(",", values);
    }
}
