@using KWFOpenApi.Metadata.Models
@using System.Text.Json
@if (Metadata == null)
{
<html lang="en">
    <head>
        <title>KwfApiDocumentation</title>
    </head>
    <body>
        <h1>Documentation not found</h1>
    </body>
</html>
}
else
{
<html lang="en">
    <head>
        <title>API: @Metadata.ApiName</title>
        <link rel="stylesheet" href="kwfopenapi.css">
        <script type="text/javascript" src="kwfopenapi.js"></script>
    </head>
    <body onload="FetchAndCacheModelsAndEnums()">
        <div class="page-container">
            <div class="head-container">
                <div class="head-container-api-data">
                    <div>
                        <h1>API: @Metadata.ApiName</h1>
                    </div>
                    <div>
                        <h1>Description: @Metadata.ApiDescription</h1>
                    </div>
                    <div>
                        <a href="/@Metadata.OpenApiDocumentUrl" target="_blank"><h1>Version: @Metadata.ApiVersion</h1></a>
                    </div>
                </div>
                <div class="head-container-api-auth">
                    @if (Metadata.AuthorizationTypes != null && Metadata.AuthorizationTypes.Any(x => x.AuthorizationType != AuthorizationType.None))
                    {
                        var hasBearer = Metadata.AuthorizationTypes.Any(a => a.AuthorizationType == AuthorizationType.Bearer);
                        var selectedType = hasBearer ? AuthorizationType.Bearer : AuthorizationType.Other;
                        var selectedHeader = "Authorization";
                        <div class="head-container-api-auth-form">
                            <div class="auth-form-type">
                                <div class="auth-input-label">
                                    Authorization:
                                </div>
                                <div class ="auth-input-container">
                                    <select class="auth-input" name="kwf-authorization-method" onchange="SelectAuthorizationForm(this)">
                                        @{
                                            var isSelected = false;
                                            foreach (var method in Metadata.AuthorizationTypes.Where(a => a.AuthorizationType != AuthorizationType.None))
                                            {
                                                var isBearer = method.AuthorizationType == AuthorizationType.Bearer;
                                                var selectOption = isSelected ? false : (hasBearer && !isBearer) ? false : true;
                                                if (selectOption)
                                                {
                                                    selectedType = method.AuthorizationType;
                                                    selectedHeader = method.Name;
                                                    isSelected = true;
                                                }

                                                <option value="@method.AuthorizationType" kwf-header-name="@method.Name" @attributes=SelectedAttribute(selectOption)>@method.AuthorizationType</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="auth-form-bearer" kwf-auth-form-type="Bearer" class="@($"auth-form-type auth-form-inputs {(selectedType != AuthorizationType.Bearer ? "hidden-container" : "")}")">
                                <div class="auth-input-label">
                                    bearer <small id="auth-selected-header-name-Bearer">(@selectedHeader)</small>
                                </div>
                                <div class="auth-input-container">
                                    <input class="auth-input" name="auth-Bearer-input" type="text" />
                                </div>
                            </div>
                            <div id="auth-form-api-key" kwf-auth-form-type="ApiKey" class="@($"auth-form-type auth-form-inputs {(selectedType != AuthorizationType.ApiKey || selectedType != AuthorizationType.Other ? "hidden-container" : "")}")">
                                <div class="auth-input-label">
                                    apiKey <small id="auth-selected-header-name-ApiKey">(@selectedHeader)</small>
                                </div>
                                <div class="auth-input-container">
                                    <input class="auth-input" name="auth-ApiKey-input" type="text" />
                                </div>
                            </div>
                            <div id="auth-form-basic" kwf-auth-form-type="Basic" class="@($"auth-form-type auth-form-inputs {(selectedType != AuthorizationType.Basic ? "hidden-container" : "")}")">
                                <div class="auth-input-label">
                                    basic <small id="auth-selected-header-name-Basic">(@selectedHeader)</small>
                                </div>
                                <div class="auth-input-container">
                                    <div class="auth-input-basic-label">username:</div>
                                    <div class="auth-input-basic">
                                         <input class="auth-input" name="auth-Basic-username-input" type="text" />
                                    </div>
                                    <div class="auth-input-basic-label">password:</div>
                                    <div class="auth-input-basic">
                                         <input class="auth-input" name="auth-Basic-password-input" type="password" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="path-container">
                <div class="api-paths">
                    @{
                        if (Metadata.Entrypoints != null)
                        {
                            var tabindex = 10;
                            foreach (var endpointGroup in Metadata.Entrypoints)
                            {
                                <div class="api-path-endpoint-container">
                                    <div class="api-path-endpoint-group focusable_element" tabindex="@tabindex" kwf-toggled="false" onclick="ExpandDivGroup(this, 'api-path-endpoint-group-@endpointGroup.Key')">@endpointGroup.Key</div>
                                    <div class="api-path-endpoint-group-endpoints" id="api-path-endpoint-group-@endpointGroup.Key" style="display:none; visibility:hidden">
                                        @{
                                            tabindex++;
                                            foreach (var endpoint in endpointGroup.Value)
                                            {
                                                var endpointId = @GetEndpointId(endpoint.Operation, endpoint.Method, endpoint.Route);
                                                <div class="api-path-endpoint-group-endpoints-container">
                                                    <div class="api-path-method" title="@endpoint.Route">
                                                        @endpoint.Method
                                                    </div>
                                                    <div title="@endpoint.Summary" class="api-path-endpoint focusable_element" tabindex="@tabindex" onclick="SelectEndpoint('@endpointId', this)">
                                                        @endpoint.Route
                                                    </div>
                                                    <input type="hidden" name="endpoint_route_@endpointId" value="@endpoint.Route" />
                                                    <input type="hidden" name="endpoint_method_@endpointId" value="@endpoint.Method" />
                                                    @if (endpoint.HeaderParams != null)
                                                    {
                                                        foreach (var headerParam in endpoint.HeaderParams)
                                                        {
                                                            <input type="hidden"
                                                                   kwf-isRequired="@BoolToString(headerParam.Required)"
                                                                   kwf-isArray="@BoolToString(headerParam.IsArray)"
                                                                   kwf-isEnum="@BoolToString(headerParam.IsEnum)"
                                                                   kwf-reference="@headerParam.EnumReference"
                                                                   kwf-format="@headerParam.Format"
                                                                   kwf-enumValues="@CommaSplitedEnumValues(headerParam.EnumValues)"
                                                                   name="@($"endpoint_header_params_{endpointId}[]")" 
                                                                   value="@headerParam.Name" />
                                                        }
                                                    }
                                                    @if (endpoint.RouteParams != null)
                                                    {
                                                        foreach (var routeParam in endpoint.RouteParams)
                                                        {
                                                            <input type="hidden"
                                                                   kwf-isRequired="@BoolToString(routeParam.Required)"
                                                                   kwf-isArray="@BoolToString(routeParam.IsArray)"
                                                                   kwf-isEnum="@BoolToString(routeParam.IsEnum)"
                                                                   kwf-reference="@routeParam.EnumReference"
                                                                   kwf-enumValues="@CommaSplitedEnumValues(routeParam.EnumValues)"
                                                                   kwf-format="@routeParam.Format"
                                                                   name="@($"endpoint_route_params_{endpointId}[]")"
                                                                   value="@routeParam.Name" />
                                                        }
                                                    }
                                                    @if (endpoint.QueryParams != null)
                                                    {
                                                        foreach (var queryParam in endpoint.QueryParams)
                                                        {
                                                            <input type="hidden"
                                                                   kwf-isRequired="@BoolToString(queryParam.Required)"
                                                                   kwf-isArray="@BoolToString(queryParam.IsArray)"
                                                                   kwf-isEnum="@BoolToString(queryParam.IsEnum)"
                                                                   kwf-reference="@queryParam.EnumReference"
                                                                   kwf-enumValues="@CommaSplitedEnumValues(queryParam.EnumValues)"
                                                                   kwf-format="@queryParam.Format"
                                                                   name="@($"endpoint_query_params_{endpointId}[]")"
                                                                   value="@queryParam.Name" />
                                                        }
                                                    }
                                                    @if (endpoint.RequestBodies != null && endpoint.RequestBodies.Count > 0)
                                                    {
                                                        foreach (var reqSample in endpoint.RequestBodies)
                                                        {
                                                            <input type="hidden" 
                                                                   kwf-media-type="@reqSample.Key"
                                                                   kwf-media-type-name="@reqSample.Value.MediaTypeString"
                                                                   kwf-obj_ref="@reqSample.Value.BodyObjectName"
                                                                   name="@($"request_sample_{endpointId}[]")" 
                                                                   value="@reqSample.Value.Body" />
                                                        }
                                                    }
                                                    @if (endpoint.ResponseSamples != null && endpoint.ResponseSamples.Count > 0)
                                                    {
                                                        foreach(var respStatus in endpoint.ResponseSamples)
                                                        {
                                                            foreach (var respSample in respStatus.Value)
                                                            {
                                                                <input type="hidden"
                                                                       kwf-status-code="@respStatus.Key"
                                                                       kwf-media-type="@respSample.Key"
                                                                       kwf-media-type-name="@respSample.Value.MediaTypeString"
                                                                       kwf-obj_ref="@respSample.Value.BodyObjectName"
                                                                       name="@($"response_sample_{endpointId}[]")"
                                                                       value="@respSample.Value.Body" />
                                                            }
                                                        }
                                                    }
                                                </div>
                                                tabindex++;
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="api-selected-endpoint">
                    <div class="api-selected-endpoint-data-container">
                        <div class="api-selected-endpoint-data" id="api-selected-endpoint-data">
                            &nbsp;
                        </div>
                        <div class="api-selected-endpoint-send-request"> <!-- TODO -->
                            <input class="api-request-send-button" type="button" onclick="SendRequest(this)" name="kwf-send" value="Send"/>
                        </div>
                    </div>
                    <div class="api-selected-endpoint-request-response">
                        <div class="endpoint-request">
                            <div id="req-params-container" class="req-params-container-parent hidden-container">
                                Request parameters:
                                <div id="req-params-container-inputs" class="req-params-container-inputs">
                                </div>
                            </div>
                            <div class="req-obj-ref-container">Request Body: <div id="req-obj-ref-item" class="req-obj-ref-item focusable_element" tabindex="97" onclick="FocusOnModelReference(this)"></div></div>
                            <div class="request_selected_media_container">
                                <div class="request_selected_media_container-row">
                                    <div class="request_selected_media">
                                        <label for="request_selected_media">Media type:</label>
                                        <select id="request_selected_media" name="request_selected_media" disabled onchange="ChangeReqMediaType(this)"></select>
                                    </div>
                                    <div class="request_selected_media_reload_sample"><button name="reload_request_sample" disabled onclick="ReloadRequestSample()">Reload Sample</button></div>
                                </div>
                            </div>
                            <div class="request-box-container">
                                <textarea class="request_box textbox-readonly" id="request_box" name="request_box" readonly></textarea>
                            </div>
                            <div id="request-response-sample-container" class="request-response-sample-container" style="visibility: hidden; display: none;">
                                <div>Response Samples</div>
                                <div>
                                    <div class="request-response-sample-select-row">
                                        <div class="request-response-sample-status">
                                            <div class="request-response-sample-status-select-row">
                                                <div class="request-response-sample-status-select-label">Status Code:</div>
                                                <div class="request-response-sample-status-select">
                                                    <select class="response-sample-status-select" name="response-sample-status-select" disabled onchange="ChangeResponseSampleStatus(this)"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="request-response-sample-media">
                                            <div class="request-response-sample-media-select-row">
                                                <div class="request-response-sample-media-select-label">Media Type:</div>
                                                <div class="request-response-sample-media-select">
                                                    <select class="response-sample-media-select" name="response-sample-media-select" disabled onchange="ChangeResponseSampleMedia(this)"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="response-sample-obj-ref-container">
                                    Body: <div class="response-sample-obj-ref focusable_element" tabindex="98" id="response-sample-obj-ref" kwf-req-obj-ref="" onclick="FocusOnModelReference(this)"></div>
                                </div>
                                <div class="response-sample-body">
                                    <textarea class="response-sample-body-text" name="kwf-response-sample-body" readonly></textarea>
                                </div>
                            </div>                            
                        </div>
                        <div class="endpoint-response">
                            <div id="response-media-type">
                                MediaType:
                            </div>
                            <div id="response-status">
                                Status Code:
                            </div>
                            <div class="response-body-container">
                                Response:<br />
                                <!-- TODO - format textarea -->
                                <textarea id="response-result-body" readonly class="response-result-body-text"></textarea>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="model-container">
                <div class="model-container-col">
                    Models and Enums
                    <br />
                    @if (Metadata.Enums != null)
                    {
                        <div class="model-enums-container">
                            <div class="model-enums-container-col">
                                <div class="focusable_element" tabindex="99" id="model-enums-container" kwf-toggled="false" onclick="ExpandDivGroup(this, 'enum-items-container')">Enums:</div>
                                <div id="enum-items-container" class="enum-items-container" style="display:none; visibility:hidden">
                                    @{
                                        var tabindex = 100;
                                        foreach (var enumItem in Metadata.Enums)
                                        {
                                            //TODO - hidden div with values and toggle logic
                                            <div class="enum-item-element">
                                                <div class="enum-item-element-reference focusable_element" id="kwf-enum-item-@(enumItem.Key)" tabindex="@tabindex" kwf-toggled="false" onclick="ExpandDivGroup(this, 'kwf-enum-item-@(enumItem.Key)-values')">@enumItem.Key</div>
                                                <div id="kwf-enum-item-@(enumItem.Key)-values" class="kwf-enum-item-values" style="display:none; visibility:hidden">
                                                @foreach(var enumValue in enumItem.Value)
                                                    {
                                                        <div>@enumValue</div>
                                                    }
                                                </div>
                                            </div>
                                            tabindex++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Metadata.Models != null)
                    {
                        <div class="model-objects-container">
                            <div class="model-objects-container-col">
                                <div class="focusable_element" tabindex="199" id="model-objects-container" kwf-toggled="false" onclick="ExpandDivGroup(this, 'object-items-container')">Objects:</div>
                                <div id="object-items-container" class="object-items-container" style="display:none; visibility:hidden">
                                    @{
                                        var tabindex = 200;
                                        foreach (var objItem in Metadata.Models)
                                        {
                                            //TODO - hidden div with properties and toggle logic
                                            //TODO - property ref link to id for focus on click
                                            <div class="object-item-element">
                                                <div class="object-item-element-reference focusable_element" tabindex="@tabindex" id="kwf-object-item-@objItem.Key" kwf-toggled="false" onclick="ExpandDivGroup(this, 'kwf-object-item-@(objItem.Key)-properties')">@objItem.Key</div>
                                                <div id="kwf-object-item-@(objItem.Key)-properties" class="kwf-object-item-properties" style="display:none; visibility:hidden">
                                                    @foreach(var objProp in objItem.Value)
                                                    {
                                                        var isRefenrenced = (!objProp.IsDictionary && (objProp.IsObject || objProp.IsEnum)) || (objProp.IsDictionary && objProp.DictionaryValueReference != null);
                                                        var referenceObj = isRefenrenced ? (objProp.IsDictionary ? objProp.DictionaryValueReference : objProp.Reference) : "";
                                                        var isEnumRef = isRefenrenced && (objProp.IsEnum || objProp.DictionaryValueIsEnum) ? "true" : "false";

                                                        <div>
                                                            <b class="@(isRefenrenced ? "focusable_element" : "")" kwf-req-obj-ref="@referenceObj" kwf-is-ref-enum="@isEnumRef" onclick="FocusOnModelOrEnumReference(this)">
                                                                @if (isRefenrenced && !objProp.IsDictionary)
                                                                {
                                                                    @objProp.Reference
                                                                    @if (objProp.IsEnum)
                                                                    {
                                                                        <small>(enum)</small>
                                                                    }
                                                                }
                                                                else if (objProp.IsDate)
                                                                {
                                                                    @("DateTime")
                                                                }
                                                                else if (objProp.IsDictionary)
                                                                {
                                                                    @GetDictionaryType(objProp)
                                                                }
                                                                else
                                                                {
                                                                    @objProp.Type
                                                                }
                                                                @if (objProp.IsArray)
                                                                {
                                                                    @("[]")
                                                                }
                                                            </b>
                                                            <span title="@objProp.Description">@($" : {objProp.Name}")</span>
                                                        
                                                            @if(!string.IsNullOrEmpty(objProp.Format))
                                                            {
                                                                <small>&nbsp;(@objProp.Format)</small>
                                                            }

                                                            @if(objProp.IsArray)
                                                            {
                                                                var nestedProp = objProp.NestedArrayProperty;
                                                                if (nestedProp != null)
                                                                {
                                                                    <small>
                                                                        &nbsp;(&nbsp;[
                                                                        @{
                                                                            var closeBrackets = 0;
                                                                            while (nestedProp != null)
                                                                            {
                                                                                <span> [ </span>
                                                                                if (nestedProp.NestedArrayProperty == null)
                                                                                {
                                                                                    if (nestedProp.IsDictionary)
                                                                                    {
                                                                                        var typeStartsWithDictionary = nestedProp.DictionaryValueType != null && nestedProp.DictionaryValueType.StartsWith("Dictionary");
                                                                                        if (typeStartsWithDictionary)
                                                                                        {
                                                                                            <span>@($"{nestedProp.DictionaryValueType}")</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>@($"Dictionary<{(nestedProp.DictionaryValueReference != null ? nestedProp.DictionaryValueReference : nestedProp.DictionaryValueType)}>")</span>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span>@($"{(nestedProp.Reference != null ? nestedProp.Reference : nestedProp.Type)}")</span>
                                                                                    }
                                                                                }
                                                                                closeBrackets++;
                                                                                nestedProp = nestedProp.NestedArrayProperty;
                                                                            }

                                                                            for (int i = 0; i < closeBrackets; i++)
                                                                            {
                                                                                <span> ] </span>
                                                                            }

                                                                        }]&nbsp;)
                                                                    </small>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            tabindex++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>                
            </div>
        </div>

        <input type="hidden" name="kwf-metadata-models" value="@JsonSerializer.Serialize(Metadata.Models, SerializerOptions)" />
        <input type="hidden" name="kwf-metadata-enums" value="@JsonSerializer.Serialize(Metadata.Enums, SerializerOptions)" />
    </body>
</html>
}

@code {
    [Parameter]
    public KwfOpenApiMetadata? Metadata { get; set; }

    [Parameter]
    public JsonSerializerOptions? SerializerOptions { get; set; }

    private static string GetEndpointId(string operationId, string method, string route)
    {
        if (!string.IsNullOrEmpty(operationId))
        {
            return operationId;
        }

        return $"endpoint_{method}_{route.Replace('/', '-').Replace('{', '_').Replace('}', '_')}";
    }

    private static string BoolToString(bool value)
    {
        return value ? "true" : "false";
    }

    private static string CommaSplitedEnumValues(List<string>? values)
    {
        if (values == null || values.Count == 0)
        {
            return string.Empty;
        }

        return string.Join(",", values);
    }

    private static string GetDictionaryType(KwfModelProperty objProp)
    {
        var startWithDictionary = objProp.DictionaryValueType != null && objProp.DictionaryValueType.StartsWith("Dictionary");
        var type = objProp.DictionaryValueReference != null && (objProp.DictionaryValueType == null || !startWithDictionary)
        ? objProp.DictionaryValueReference
        : objProp.DictionaryValueType != null 
            ? objProp.DictionaryValueType
            : "*";

        if (startWithDictionary)
        {
            return type;
        }

        return $"Dictionary<{type}{(objProp.DictionaryValueIsArray ? "[]" : "")}>";
    }

    private Dictionary<string, object> SelectedAttribute(bool condition) =>
        condition
        ? new()
                {
                    { "selected", true }
                }
        : new();
}
